<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JDLL.Access" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <JDLL.Access>
            <setting name="Pass1" serializeAs="String">
                <value>3ayeVcpxBGQm7tq4</value>
            </setting>
            <setting name="Pass2" serializeAs="String">
                <value>rQBgjKuIkGZo326E</value>
            </setting>
        </JDLL.Access>
    </applicationSettings>
</configuration>